# Exclude dot-files and dot-directories
.*
# Exclude all app files
*.app

# Reapply rules to .vscode
!**/.vscode/
# Exclude all files from .vscode
**/.vscode/*
# Include folder settings.json
!**/.vscode/settings.json

# Keep .NET packages
!**/.netpackages

# Include .gitignore
!.gitignore

# Exclude global translation
*.g.xlf